@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: FoundersGrotesk-Semibold;
    src: url(../public/FoundersGrotesk-Semibold.woff) format('woff');
}

@font-face {
    font-family: FoundersGrotesk-Semibold2;
    src: url(../public/FoundersGrotesk-Semibold.woff2) format('woff2');
}

@font-face {
    font-family: NeueMontreal-Regular;
    src: url(../public/NeueMontreal-Regular.woff) format('woff');
}

@font-face {
    font-family: NeueMontreal-Regular2;
    src: url(../public/NeueMontreal-Regular.woff2) format('woff2');
}

@font-face {
    font-family: icomoon;
    src: url(../public/icomoon.woff) format('woff');
}

.hFont1 {
    font-family: FoundersGrotesk-Semibold, sans-serif;
}

.hFont2 {
    font-family: FoundersGrotesk-Semibold2, sans-serif;
}

.pFont1 {
    font-family: NeueMontreal-Regular, sans-serif;
}

.pFont2 {
    font-family: NeueMontreal-Regular2, sans-serif;
}

.iconFont {
    font-family: icomoon, sans-serif;
}